---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import "minima";

body {
    /*background-image: url(/assets/images/downloads/citybg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color:black;
}

.site-header {
    border-top: 0px;
    border-bottom: 0px;
}
.social-media-list li {
    display:inline;
}
.face {
    max-width: calc(800px - (30px * 2));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.face-title {
    font-weight: 100;
    font-size: 3em;
}
.posts {
    font-size: 1em;
    padding-bottom: 60px;
}
.posts .item {
    padding-bottom: 10px;
}
.posts .item .title {
    font-size: 1.5em;
}
.posts .item .date {
    color:#777
}
.link-text:hover {
    color:black;
}
.link-text:visited {
    color:black;
}
.link-text {
    color:black;
}