---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1 class="post-title">Interactive Anthology</h1>
  <p>The anthology of interactive fiction short stories.</p>
  {% include category_posts.html category="interactivefiction" show_excerpts=true%}

  <h1 class="post-title">Micro Fiction</h1>
  <p>A series of un-related micro-fiction.</p>
  {% include category_posts.html category="microfiction" show_excerpts=true show_dateline=false%}

  <h1 class="post-title">Some Thoughts</h1>
  <p>A blog of sorts.</p>
  {% include category_posts.html category="blog" show_excerpts=true show_dateline=true%}

</div>
